@using RCE.UI.Controllers
@using RCE.UI.Models
@using RCE.UI.Resources
@model ProductCartModel
<div id="formModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="left:10%" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm(nameof(CartController.Add), new AjaxOptions
            {
                OnBegin = "util.loader(true);",
                OnSuccess = "onSuccess"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Point)
                @Html.HiddenFor(m => m.UserId)
                <div class="modal-body">
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Name, new { @class = "col-2 fs-09" })
                        <div class="col-4">
                            <span class="fs-09">@Model.Name</span>
                        </div>
                        @Html.HiddenFor(m=>m.Name)
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Type,new { @class="col-2 fs-09"})
                        <div class="col-4">
                            <span class="fs-09">@Model.Type</span>
                        </div>
                        @Html.HiddenFor(m => m.Type)
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Day, new { @class="col-2 fs-09"})
                       <div class="col-4">
                           @Html.TextBoxFor(m => m.Day, new { @class = "form-control input-sm fs-09", type = "number", onkeyup="calculatePrice()" })
                           @Html.ValidationMessageFor(m => m.Name)
                       </div>
                    </div>
                    <div class="form-group row">
                       <div class="col-3">
                           @Html.Label(UI.OneTime, new { @class = "fs-09" })
                           @Html.TextBoxFor(m => m.PaymentDetail.OneTime, new { @class = "form-control input-sm fs-09", type = "number",@readonly="readonly" })
                       </div>
                        <div class="col-3">
                            @Html.Label(UI.Premium, new { @class = "fs-09" })
                            @Html.TextBoxFor(m => m.PaymentDetail.Premium, new { @class = "form-control input-sm fs-09", type = "number", @readonly = "readonly" })
                        </div>
                        <div class="col-3">
                            @Html.Label(UI.Regular, new { @class = "fs-09" })
                            @Html.TextBoxFor(m => m.PaymentDetail.Regular, new { @class = "form-control input-sm fs-09", type = "number", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary fs-09">@UI.AddToCart</button>
                    <button type="button" class="btn btn-danger fs-09" data-dismiss="modal">@UI.Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
